.App{
  align-items: center;
}
.h2{
  align-items:center ;
}

.container{
  height: 100vh;
  display: flex;
align-items: center;
justify-content: center;
}

.card-text-centre{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.card-body{
  justify-content: center;
  text-align: center;
}